<h3>Confirmation Form</h3>
  <p>Dear <%=current_user.full_name%>, your listing has been submitted and
     currently pending approval by CoolStay's management within 24 hours.
     Thank You for choosing us and have a nice day :)
  </p>

  <%= link_to 'Back', root_path %>
