<h2>Let's plan your vacation with us! :)</h2>

<h3>----------------------------------------------------</h3>
<h4>To input navbar, background pic here</h4>
<h3>----------------------------------------------------</h3>


<br>
<%= link_to 'My Blog', controller: 'articles'%>
<%= link_to 'New article', new_article_path %>
