/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require rails_bootstrap_forms
  *= require bootstrap-datepicker
  */
  /*
   *= require font-awesome
   */
body{
  border: 1vw;
}
h1 a{
  color:teal;

}
h2{
  color:darkblue;
}

body{
  background-color: white;
  /* background-image: url("santorini_1.jpg"); */
  background-size: 100vw 55vw;
  background-repeat: no-repeat;
}

.navbar{
  margin-bottom: 0px !important;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;

}

li.align_right{
  padding-left: 55vw;
}
div .thumb-image img{
    width: 100px !important;
    height: 100px !important;

}

.profile_picture img{
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
  /* float: right; */
  position: fixed;
  top:0;
  right:0;
  /* height: 23px; */
}

table tr td,th{
  border: 1px solid grey;
  text-align: center;
}
.listing_table{
  width: 100vw;
}

.align_center{
  text-align: center;
}

div.all_decks{
  display: flex;
  flex-wrap: wrap;
}
.card-deck{
  display: inline-flex !important;
  width: 450px !important;
  height: 350px !important;
  /* padding:50px !important; */
  margin: 10px;
}

div .card{
  width: 300px !important;
  height: 340px !important;
  line-height: 0.8 !important;
}

div .card-body{
  width: 100% !important;
  height: 250px !important;
}
/*  */
.color:hover
{
        background:#53a7ea;
}
/*  */
.card-text{
  color: red !important;
  font-size: 1.4vw;
}
.card-img-top{
  height: 60% !important;
  width: 100% !important;
}

.pagination{
  margin-left: 20vw !important;
  padding:  20px !important;
  font-size: 30px;
}

.home-page-image{
  width: 100vw !important;
  height: 40vw !important;
}
.home-content{
  position: relative;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  border: 1vw;
}


/* navbar */
input#session_password.form-control, input#user_id.form-control{
  width: 450px;
  overflow: hidden;
  position: relative;
  left: 10px;
  /* test */
}

a.dropdown-item{
  font-size: 18px;
}

/* Search Bar */
input#listing_term{
  width: 30vw;
  line-height: 2.2vw;
  border-radius: 18px;
}

.grow {
    transition:height 0.5s;
    -webkit-transition:height 0.5s;
    text-align: center;

}
.grow:hover {
    height: 3.0vw; /* This is the height on hover */
}

.grow1:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
