/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require rails_bootstrap_forms
  *= require bootstrap-datepicker
  */

.global-body{

}
h1 a{
  color:teal;

}
h2{
  color:darkblue;
}

body{
  /* background-color: lightgrey; */
  /* background-image: url("santorini_1.jpg"); */
  background-size: 100vw 55vw;
  background-repeat: no-repeat;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;

}

li.align_right{
  padding-left: 55vw;
}
div .thumb-image img{
    width: 100px !important;
    height: 100px !important;

}

.profile_picture img{
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
  /* float: right; */
  position: fixed;
  top:0;
  right:0;
  /* height: 23px; */
}

table tr td,th{
  border: 1px solid grey;
  text-align: center;
}
.listing_table{
  width: 100vw;
}

.align_center{
  text-align: center;
}
.card-deck{
  display: inline-flex !important;
  width: 30vw !important;
  height: 25.5vw !important;
  /* padding:50px !important; */
  margin: 20px;
}

.card-img-top{
  height: 45% !important;
  width: 100% !important;
}

div .card{
  width: 30vw !important;
  height: 25vw !important;
  line-height: 1.0 !important;
}

div .card-body{
  width: 100% !important;
  height: 30% !important;
}

.card-text{
  color: red !important;
  font-size: 1.2vw;
}

.pagination{
  margin-left: 20vw !important;
  padding:  20px !important;
  font-size: 30px;
}
