.login-popup-heading>h4 {
    color: teal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
}
.new_reg_popup, .new_login_popup {
    border-radius: 2px;
    min-height: 260px;
    width: 500px;
    margin: 0px auto;
}
.login-popup-btn {
    background: teal;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 150px;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}
a{
     color: teal;
     font-size: 15px;
}

div.row{
  justify-content: center;
}
div.checkbox{
  text-align: center;
}
